doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta charset="utf-8" /
    meta content="IE=edge" http-equiv="X-UA-Compatible" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    meta content="" name="description" /
    meta content="" name="author" /
    link href="favicon.png" rel=("shortcut icon") /
    title The New City

    link rel="stylesheet" href="https://use.typekit.net/mra8qdq.css"
    link rel="stylesheet" href="css/style.css" type='text/css'

    /![if lt IE 9]
      | <p class="browsehappy">You are using an
      | <strong>outdated</strong>browser. Please
      | <a href="http://browsehappy.com/">upgrade your browser</a>to improve your experience.</p
  body
    .topbar
      .content
        h4.title New City Events 
        h4 
          strong December 3rd: Andrew Yang, 
          | tech entrepreneur, former presidential candidate
    .wrapper
      .back
      .overlay
      .content
        .main-title
          img.logo src="../images/TheNewCity.svg"
          h2.sub-title Guide On Navigating the Future,
          h3.sub-title-2 A How-To
          .register
            p Pre-Register for The New City event
            .form
              input.email type="email" placeholder="Your Email" name="email"
              input.submit type="submit" value="SUBMIT"


    script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"
    script type="text/javascript" src="../js/main.js"


